$blue-grey-lighten-4: #cfd8dc;
$blue-grey: #607d8b;
$blue-grey-darken-2: #455a64;

nav {
  padding: 0 20px;
  font-size: 20px;

  .nav-wrapper {
    display: flex;

    .nav-button {
      margin-right: 20px;
    }

    .nav-path {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-x: hidden;
    }
  }
}

#app-progress {
  // reserve space even when not loading
  // we use this instead of visibility:hidden
  // to make the loading animation start from the beginning each time.
  min-height: 4px;

  margin: 0;
  background-color: white;

  .indeterminate {
    background-color: $blue-grey-darken-2;
  }
}

#directory-entries {
  border: none;
  margin-top: 0;

  .collection-item {
    display: flex;
    align-items: center;

    font-size: 18px;
    line-height: 3rem;

    i.material-icons {
      margin-right: 15px;
    }
  }

  a {
    color: $blue-grey-darken-2;
  }
}
