org-note {
  display: block;
  font-family: 'Noto Serif', serif;
  padding: 10px;

  .section-number {
    display: none;
  }

  h1 {
    // Our rendering library generates the same tag for the note's title and for top level headers
    &:first-of-type {
      font-size: 2.5rem;
    }

    font-size: 2rem;
    margin: 1.5rem 0 2rem 0;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
    margin: 2rem 0 0.6rem 0;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
  }

  ul {
    padding-left: 30px;
    list-style-type: disc;

    li {
      list-style-type: inherit;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}
